@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	background: linear-gradient(#ffbb00, #cb7604) no-repeat center;
	background-size: 100%;
	height: 100dvh;
	width: 100dvw;
	overflow: hidden;
}